#banner
  .banner_content
    %h1 mr_noteworthy
    %p Your place to make notes.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The greatest notebook app ever!"
    %p.name - Adam Jarrell
#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Shabby chic semiotics church-key Carles craft beer VHS High Life, trust fund bespoke pickled. Four loko cronut skateboard, lo-fi post-ironic dreamcatcher ugh cred pork belly trust fund fashion axe Bushwick meditation. Polaroid Etsy yr, kale chips umami mixtape kogi tousled tilde. Listicle authentic umami ugh hashtag cornhole. Viral chia wayfarers 90's yr. Lomo Pitchfork vinyl vegan McSweeney's. Chia 3 wolf moon tilde, asymmetrical 90's Intelligentsia PBR&B distillery mumblecore mixtape bicycle rights cray quinoa irony.
      .callout
        %i.fa.fa-rocket
        %h2 Stuff
        %p Shabby chic semiotics church-key Carles craft beer VHS High Life, trust fund bespoke pickled. Four loko cronut skateboard, lo-fi post-ironic dreamcatcher ugh cred pork belly trust fund fashion axe Bushwick meditation. Polaroid Etsy yr, kale chips umami mixtape kogi tousled tilde. Listicle authentic umami ugh hashtag cornhole. Viral chia wayfarers 90's yr. Lomo Pitchfork vinyl vegan McSweeney's. Chia 3 wolf moon tilde, asymmetrical 90's Intelligentsia PBR&B distillery mumblecore mixtape bicycle rights cray quinoa irony.
      .callout
        %i.fa.fa-bolt
        %h2 Things
        %p Shabby chic semiotics church-key Carles craft beer VHS High Life, trust fund bespoke pickled. Four loko cronut skateboard, lo-fi post-ironic dreamcatcher ugh cred pork belly trust fund fashion axe Bushwick meditation. Polaroid Etsy yr, kale chips umami mixtape kogi tousled tilde. Listicle authentic umami ugh hashtag cornhole. Viral chia wayfarers 90's yr. Lomo Pitchfork vinyl vegan McSweeney's. Chia 3 wolf moon tilde, asymmetrical 90's Intelligentsia PBR&B distillery mumblecore mixtape bicycle rights cray quinoa irony.

#bottom-cta
  .wrapper
    %h2 super cerealz
    %p SIGN UP
    %button= link_to "Click Me", new_user_registration_path

%footer
  %p %copy; Adam Jarrell
